<p>You should do an lti tool launch at <a href="/demo/launch">/demo/launch</a>.</p>
<p>You can get the configuration XML here: <a href="/demo/tool_config.xml">LTI Config</a>.</p>
<p>
  You can perform a signature verification test for your own tool with this config:
  <a href="/demo/tool_config.xml?signature_proxy_test=1">Signature Test Config</a>
</p>
